@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Ubuntu&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
/*--navigation bar*/
nav {
  display: flex;
  flex-direction: row;
  width: 95%;
  padding: 10px 30px;
  justify-content: space-between;
}
.nav-items {
  display: inline-flex;
  color: #300057;
}
.nav-item {
  padding: 10px 30px;
}
.signin {
  background: linear-gradient(90deg, #986bf3, #ef88dc);
  border: none;
  border-radius: 40px;
  color: #FFF;
  font-weight: bold;
  padding: 10px 45px;
  height: 50px;
  margin: 20px 30px;
}
/*--intro-section--*/
.left-section {
  justify-content: center;
  align-items: center;
  float: left;
  margin: 20px;
  padding: 40px;
  width: 40%;
  color: #300057;
}
.left-section > h1 {
  font-size: 70px;
  color: #3a00ad;
}
.left-section > h4 {
  font-weight: normal;
  line-height: 30px;
  margin: 10px;
  padding: 20px;
  width: 50%;
}
.learn-more-btn {
  margin: 20px;
  background: linear-gradient(90deg, #986bf3, #ef88dc);
  border: none;
  border-radius: 30px;
  color: #FFF;
  padding: 15px 50px;
  font-size: 25px;
  font-weight: bold;
}
.imgs-div {
  float: right;
  width: 50%;
}
.vector-dot, .vector-img {
  position: absolute;
  z-index: 0;
  left: 400px;
  top: 500px
}
.intro-img {
  position: absolute;
  right:50px;
  z-index: 0;
  height: 700px;
}
.bgi {
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
}

/* Tablet Screens */

@media screen and (max-width: 800px) {
  * {
    padding: 0%;
    margin: 0%;
  }
  body {
    padding: 0px 20px;    
  }
  /* hidden-nav-items */
  .nav-items {
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }
  .intro-section {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
    padding: 5px;
  }
  .imgs-div {
    justify-content: space-around;
    align-items: center;
    width: 90%;
  }
  .left-section {
    justify-content:space-evenly;
    align-items: center;
    width: 90%;
    text-align: center;
    padding: 50px 90px;
    margin: 0px 20px;
  }
  .left-section > h4 {
    width: 90%;
  }
  .intro-img {
    height: 500px;
    position: relative;
    left: 60px;
  }
  .vector-dot, .vector-img {
    position: absolute;
    left: 100px;
  }
  .bgi {
    margin-top: -50%;
  }
}

/* Smartphone Screens */
@media screen and (max-width: 576px) {
  .intro-img {
    height: 300px;
  }
  .vector-dot, .vector-img {
    position: absolute;
    top: 300px;
    left: 30px;
  }
}