@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Fredoka:wght@300&family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@700&display=swap');
body {
    padding:20px;
    background-color: #e7e7e7;
}
.nav-section {
    display: inline-flex;
    flex-direction: row;
}
.logo {
    float: inline-start;
    position: relative;
    z-index: +1;
}
hr {
    float: center;
    border: 1px solid #161616;
    z-index: inherit;
    width: 400px;
    height: 0px;
    position: relative;
    left: 340px;
}
.navbar {
    float: inline-end;
    position: relative;
    left: 340px;
    font-size: 15px;
    font-weight: 500;
}
.navbar > a {
    text-decoration: none;
    color: #424242;
    padding-left: 30px;
    font-family: 'Montserrat', sans-serif;
}
.navbar > a:hover {
    color: #161616;
    font-weight: bold;
} 
.headline {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    bottom: 20px;
}
.main {
    position: relative;
    bottom: 70px;
    right: 50px
}
h1 {
    color: #161616;
    position: relative;
    bottom: 70px;
    font-size: 130px;
    line-height: 100px;
}
.hh1 {
    color: #161616;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #161616;
}
h3 {
    position: relative;
    top: 117px;
    left: 20px;
    font-size: 30px;
    color: #565656;
    font-weight: normal;
}
.social-media {
    display: inline-flex;
    flex-direction: column;
    padding-top: 20px;
    position: relative;
    left: 160px; 
}
.social-media > a {
    padding-top: 20px;
}
.check {
    background-color: #161616;
    color: #fff;
    padding: 15px 20px;
    width: 250px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    position: relative;
    bottom: 470px;
    right: 20px;
    float: right;
}
.check:hover {
    color: #161616;
    background-color: #fff;
    border: 1px solid #412a2a;
}
.options {
    display: flex;
    flex-direction: row;
    float: left;
    position: relative;
    left: 480px;
    bottom: 400px;
    font-family: 'Montserrat', sans-serif;
    color: #424242;
}
li:hover {
    color: #161616;
    font-weight: bold;
    list-style: circle;
}
.options li:before {
    background-color: #565656;
    width: 2px;
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 199px;
}
.options li::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    top: 0px;
    width: 12px;
    height: 12px;
}
.options li {
    /* You need to turn on relative positioning so the line is placed relative to the item rather than absolutely on the page */
    position: relative;
    /* Use padding to space things out rather than margins as the line would get broken up otherwise */
    margin: 0;
    padding-bottom: 1em;
    padding-left: 30px;
}
.ditto {
    font-size: 150px;
    position: absolute;
    top: -40px;
    font-family: 'BIZ UDPMincho', serif;
}
.comma {
    position: relative;
    float: right;
    bottom: 380px;
    left: 130px;
    color: #161616;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}
.down-arrow {
    position: relative;
    left: 220px;
    bottom: 300px;
    rotate: 180deg;
}