@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Fredoka:wght@300&family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@700&display=swap');


* {
    text-decoration: none;
    list-style: none;
    padding: 0%;
    margin: 0%;
}
body {
    padding: 20px 30px;
    background-color: #E7E7E7;
}
/* ----navigation field----- */
.nav-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    align-items: center;
    text-align: right;
}
.nav-section > hr {
    width: 30%;
    height: 1.5px;
    background-color: #63636394;
    border: none;
    margin-left: 18rem;
}
/* --------navbar-------- */
.navbar {
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    flex-direction: row;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    width: 35%;
}
.navbar > a {
    color: #686868b2;
    padding: 5px;
    width: auto;
    width: 5rem;
}
.navbar > a:hover {
    color: #414141;
    font-weight: bold;
}
/*  --------main--------  */
.headline {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    bottom: 20px;
}
.main {
    position: absolute;
    top: -5rem;
    left: -3rem;
    z-index: -1;
}
h1 {
    color: #313131;
    position: relative;
    top: 3rem;
    left: 25rem;
    font-size: 130px;
    line-height: 100px;
}
.hh1 {
    color: #313131;
    font-weight: bolder;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #313131;
}
h3 {
    position: relative;
    color: #727272;
    top: 9rem;
    left: 26rem;
    font-size: 35px;
    font-weight: normal;
}
.social-media {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    right: -34rem;
}
.social-media > a {
    margin-bottom: 1.3rem;
}
.check {
    position: relative;
    top: 11rem;
    left: 18rem;
    background-color: #313131;
    padding: 20px 80px;
    border: none;
    color: #E7E7E7;
    font-weight: bold;
}
.options {
    position: absolute;
    font-size: 17px;
    bottom: -3rem;
    left: 31rem;
    font-family: 'Montserrat', sans-serif;
}
.options li {
    margin: 30px 0;
    list-style: disc;
    font-weight: 400;
    color: #686868b2;
}
.options li:hover {
    color: #313131;
    font-weight: bold;
}
.comma {
    position: absolute;
    right: 6em;
    bottom: -11em;
    color: #414141;
    font-family: 'Montserrat', sans-serif;
}
.comma > p {
    font-size: 17px;
    margin: 25px 0;
}
.ditto {
    rotate: 180deg;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.down-arrow {
    rotate: 180deg;
    position: absolute;
    right: 0em;
    bottom: 0em;
}