/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0%;
  margin: 0%;
  list-style: none;
  text-decoration: none;
}
/*----header section--*/
header {
  background-color: #566afa;
  height: 500px;
  padding: 20px 0px 30px 40px;
}
.header-text > h2 {
  font-size: 40px;
}
.logo {
  margin: 30px 50px;
}
.header-text {
  color: #fff;
  margin: 50px;
  float: left;
}
.header-image {
  float: right;
}
/*----navigation bar--*/
nav {
  float: right;
  margin: 20px 60px;
  color: #fff;
  cursor: pointer;
}
.nav-item {
  padding: 0 20px;
  cursor: pointer;
}
.nav-item:hover {
  color: #566afa;
  background-color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: progress;
}

/*----middle section---*/
.companies {
  margin: 10px 50px;
}
.company-items {
  color: #000 !important;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.api-heading,
.blog-heading {
  font-weight: bolder;
  margin-left: 50px;
  margin-top: 100px;
}
.cards {
  margin-left: 50px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
}
.card {
  width: 20%;
  height: 350px;
  margin: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.card:hover {
  width: 20%;
  box-shadow: 0px 5px 6px #bbbbbb;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: progress;
}
.card-logo {
  margin-left: 20px;
  margin-top: 30px;
}
.card-head {
  margin-left: 20px;
}
.card-body {
  font-size: small;
  margin-left: 20px;
}
/*---------blogs -----*/
.blog-cards {
  margin: 60px 50px;
  display: flex;
}
.blog-card {
  width: 50%;
  display: flex;
  margin: 20px 40px;
  background-color: #fff;
  height: 287px;
  border-top-left-radius: 50px;
}
.blog-card:hover {
  box-shadow: 0px 5px 6px #bbbbbb;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 20px;

}
h6 {
  color: #566afa;
  font-size: 15px;
}
h3 {
  position: relative;
  bottom: 15px;
  cursor: pointer;
  line-height: 22px;
  font-size: 20px;
}
.blog-content > p {
  position: relative;
  bottom: 20px;
  font-size: 15px;
  line-height: 15px !important;
}
.blog-author {
  position: relative;
  left: 10px;
}
.blog-card-bottom-image {
  position: relative;
  bottom: 15px;
}
.blog-content {
  padding: 0 60px 0 30px;
  position: relative;
  bottom: 25px;
}
.blog-bottom {
  display: flex;
  padding:0px;
  position: absolute;
}
/*----FAQ section---*/
.faq-section {
  background-color: #e9edfe;
  height: 323px;
  margin: 80px 0;
  padding-left: 50px;
}
.faq-content {
  float: left;
  width: 55%;
}
.faq-content > h2 {
  font-size: 40px;
  line-height: 40px;
}
.faq-content > button {
  background-color: #566afa;
  color: #fff;
  border: none;
  height: 40px;
  width: 120px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
.faq-section p{
  font-weight: normal;
  font-size: 17px;
}
.faq-image {
  float: right;
  width: 40%;
  padding-left: 0pX;
}
/*----Download Section---*/
.download-section {
  height: 300px;
  padding: 30px 0;
}
.download-content {
  float: left;
  margin-left: 90px;
  margin-top: 50px;
  font-weight: 900;
  font-size: 20px;
}
span {
  font-weight: 80;
}
.download-email {
  float: right;
  margin-top: 90px;
}
input {
  background-color: #e6e6e6;
  border: none;
  height: 45px;
  width: 450px;
  border-radius: 30px;
}
input::placeholder {
  padding-left: 30px;
  cursor: text;
}
.download-email button {
  background-color: #566afa;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  height: 35px;
  width: 100px;
  position: relative;
  right: 70px;
  cursor: pointer;
}
/*---footer section--*/
.footer-section {
  background-color: #566afa;
  color: #fff;
  height: 300px;
  padding: 50px;
}
.footer-left {
  float: left;
  margin-top: 120px;
}
.footer-logo {
  margin-left: 20px;
}
ul > li {
  display: flex;
}
.list-items {
  display: inline;
  padding-right: 23px;
  cursor: pointer;
}
.footer-right {
  float: right;
  margin-top: 70px;
}
.footer-logos {
  padding-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}